#Exploratory Data Analysis
##Optimal Data Exploration with Pandas

<br>

### By: Misac Andrade Luna

<br>
In this unit, we will focus on using the Pandas libraryâ€”one of the most powerful and widely used libraries in Python for data manipulation and analysis. Designed specifically to work with structured data, Pandas offers a wide range of tools that simplify key tasks in Data Science and Artificial Intelligence, including data cleaning, transformation, aggregation, and large-scale analysis in an efficient and fast way.

The contents of this unit are organized as follows:

1. Pipelines: Data structure depending on data types

2. Pandas Series and DataFrames

3. Merging and joining DataFrames

4. Exploring data characteristics using descriptive statistics and data sampling

Itâ€™s important to understand some key concepts covered in this chapter:

Pipeline: A data processing flow that organizes and links stages of data cleaning and transformation using Pandas.

Series: A one-dimensional data structure in Pandas, similar to a column, that allows for efficient manipulation and analysis of individual data points.

DataFrame: A two-dimensional data structure similar to a table, designed to work with data organized in rows and columns.

Merging and joining: Methods to combine DataFrames and unify data from multiple sources.

Descriptive statistics: Measures used to explore and summarize key data characteristics (mean, median, standard deviation).

Pandas also offers detailed official documentation for specific tasks, which you can find at:
ðŸ‘‰ https://pandas.pydata.org/docs/user_guide/index.html#user-guide

To install Pandas, you can use the following command in the terminal:


``` python
pip install pandas
Or install it programmatically within your code:


import sys
import subprocess

subprocess.check_call([sys.executable, "-m", "pip", "install", "pandas"]) if "pandas" not in sys.modules else None
```
Letâ€™s get started!

## 2.1 Pipeline use Pandas

Example Pipeline use Structure Data

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Ana', 'Juan', 'Luis', 'Maria', 'Carlos'],
    'Age': [25, None, 30, 45, None],
    'Salary': [50000, 60000, None, 80000, 50000]
}
df = pd.DataFrame(data)

# Apply a data transformation pipeline
df = (
    df
    .dropna(subset=['Age'])                          # Remove rows with null values in the 'Age' column (Data Cleaning)
    .fillna({'Salary': df['Salary'].mean()})         # Fill null values in 'Salary' with the column's mean (Data Imputation)
    .assign(Age=df['Age'] + 1)                        # Increase age by 1 year (Data Transformation - Update - Maintenance)
    .rename(columns={'Name': 'Employee'})            # Rename 'Name' column to 'Employee' (Feature Manipulation)
)

print(df)

Example one Pipeline unstructured data

In [ ]:
import pandas as pd

# Create a sample DataFrame with unstructured data
data = {
    'Employee': ['Ana', 'Juan', 'Luis', 'Maria', 'Carlos'],
    'Comments': [
        "Employee of the month in January. Excellent performance.",
        "Promoted to manager in 2023, great potential.",
        "Average performance, needs to improve punctuality.",
        "Outstanding employee. Recognized in February.",
        "No additional comments."
    ]
}
df = pd.DataFrame(data)

# Data processing pipeline to transform unstructured text
df = (
    df.assign(
        # Convert text to lowercase
        Comments=lambda x: x['Comments'].str.lower(),

        # Extract keywords like "employee of the month" or "promoted"
        Is_Employee_of_Month=lambda x: x['Comments'].str.contains("employee of the month"),
        Is_Promoted=lambda x: x['Comments'].str.contains("promoted"),

        # Classify performance based on keywords
        Performance=lambda x: x['Comments'].apply(
            lambda comment: "Excellent" if "excellent" in comment else
                            "Good" if "outstanding" in comment else
                            "Average" if "average" in comment else
                            "No information"
        )
    )

    # Drop original comments column if not needed
    .drop(columns=['Comments'])
)

print(df)

## 2.2 Serie Pandas y DataFrames

### Series Pandas

In [ ]:
#In a Data Science / AI environment, itâ€™s also necessary to import NumPy:
import numpy as np
import pandas as pd

In [ ]:
# Pandas can work with Python lists and convert them to Series
print(pd.Series(['Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female']))

In [ ]:
# Pandas also supports converting NumPy arrays to Series
print(pd.Series(np.array(['Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female'])))

In [ ]:
ser = pd.Series(np.array(['Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female']))
print(type(ser))  # Output: <class 'pandas.core.series.Series'>

In [ ]:
#Creating Series from Dictionary
dict_data = {'a': 1, 'b': 2, 'c': 3}
ser1 = pd.Series(dict_data)

print(ser1)
print(type(ser1))

In [ ]:
# If you have series ,  might be have two characteristics int his case :  index and values

print(ser1.index)   # Index labels: Index(['a', 'b', 'c'], dtype='object')
print(ser1.values)  # Series values: array([1, 2, 3])

In [ ]:
# Pandas supports working with non-homogeneous data (use with caution in real-world applications)

list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
ser2 = pd.Series(list_data)

print(ser2)
print(ser2.index)  # If no index is specified, Pandas uses a default RangeIndex

In [ ]:
# Creating  a Series  from values with custom index labels

values = [220, 215, 93, 64, 64]
eye = pd.Series(data=values, index=['Brown', 'Blue', 'Blue', 'Hazel', 'Green'])

print(eye)

### Elements and Properties of Series

In [ ]:
import pandas as pd

# Create a Series
eye = pd.Series({'Brown': 220, 'Blue': 215, 'Hazel': 93, 'Green': 64})

# We can assign a name to a Series, which helps when merging it into a database
print("Original name: ", eye.name)

eye.name = "eye_color"

print("Changed name: ", eye.name)

# We can sort the Series by values
eye = pd.Series({'Brown': 220, 'Blue': 215, 'Hazel': 93, 'Green': 64, 'Canelita Pasion': None})

# We can also sort the Series by index
eye = pd.Series({'Brown': 220, 'Blue': 215, 'Hazel': 93, 'Green': 64})

print(eye)

print(eye.sort_index())  # Ascending alphabetical order of the index

print(eye.sort_index(ascending=False, na_position="first"))  # Descending index order, place NaNs first

# Get unique values and count them
eye = pd.Series({'Brown': 220, 'Blue': 215, 'Hazel': 93, 'Green': 64, 'Canelita Pasion': 220})

print("Unique values: ", eye.unique(), "\n")
print("Number of unique values: ", eye.nunique(), "\n")
print("Count of each value:\n", eye.value_counts())

# Access Series elements by position or index label
ser = pd.Series([0, 10, 20, 30, 40], index=['a', 'b', 'c', 'd', 'e'])

print("Accessing specific values: ", ser[3], ser['d'], '\n')

# You can also access slices of the Series using ranges
print("Accessing specific ranges:\n", ser[1:3])

# Sorting by values
print(eye)
print(eye.sort_values())
print(eye.sort_values(ascending=False, na_position="first"))

### Series with operations

In [ ]:
ser1=pd.Series([0,1,2,3,4], index=[0,1,2,3,4])
ser2=pd.Series([0,1,2,3,4], index=[4,3,2,1,0])
print(ser1)
print(ser2)

In [ ]:
# Operations using mathematical operators

print("Series addition:\n", ser1 + ser2, "\n")
print("Series multiplication:\n", ser1 * ser2, "\n")
print("Series division:\n", ser1 / ser2)

# Operations using built-in functions

print("Sum: ", ser1.sum())
print("\nAverage (Mean): ", ser1.mean())
print("\nMedian: ", ser1.median())
print("\nMin, Max: ", ser1.min(), ser1.max())
print("\nStandard Deviation: ", ser1.std())

# We can use the apply() function with lambda to process the entire Series

ser_height = pd.Series([160, 170, 180], name='height')
print(ser_height)

plus_10 = lambda x: x + 10
print(ser_height.apply(plus_10))

## DataFrames

In [ ]:
# Dataframe to create Series

df = pd.DataFrame({"Name": ["Braund, Mr, Owen Harries",
                       "Allen, Mr. William Henry",
                       "Bonnel, Miss. Elizabeth"],
              "Age": [22, 35, 58],
              "Sex": ["male", "male", "female"]})
df

In [ ]:
print(df['Age'])     # Access Characterist or target
print(df['Age'][0])  # Access Data Specific

print(type(df['Age']),type(df['Age'][0]))

In [ ]:
# Data frma with data numeric(Matrix)

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,0]])

df #df[0]

### DataFrame inspection

In [ ]:
df = pd.DataFrame({"Name": ["Braund, Mr, Owen Harries",
                       "Allen, Mr. William Henry",
                       "Bonnel, Miss. Elizabeth"],
              "Age": [22, 35, 58],
              "Sex": ["male", "male", "female"]})

# Access first rows
print(df.head(2),"\n")

# Can you see general info Data Frame
print(df.info(),"\n")

# Resume stadistic characteristic numerics.
print(df.describe())

###  Basic data selection and filtering

In [ ]:
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos'],
    'Edad': [23, 25, 30],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}
df = pd.DataFrame(data,index=['a','b','c'])

# Select row(serie)
print(df['Edad'],"\n")

# Select columns
print(df[['Nombre', 'Ciudad']],"\n")

# Select rows
print(df.iloc[0],"\n")  # First row
print(df.loc['b'],"\n")   # First Row
print(df.iloc[:2],"\n") # First two rows
print(df[df['Edad'] > 24])  # Filter rows

### Add and modify data

In [ ]:
# Add new columns
df['Salario'] = [50000, 55000, 60000]

# Modify  columns exist
df['Edad'] = df['Edad'] + 1
print(df)

### Delete Data row and columns.

In [ ]:
# Delete column

df2 = df.copy()
print(df2,"\n")
df2 = df.drop(columns=['Salario'])
print(df2,"\n")
# Delete row
df2 = df2.drop(index='c')  # Delete row and Index 1
print(df2)

### Operations for grouping and aggregation

In [ ]:
# Group by and calculate mean
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'Ana'],
    'Edad': [23, 25, 30, 22],
    'Salario': [50000, 55000, 60000, 52000]
}
df = pd.DataFrame(data)

# Agrupar por nombre y calcular el promedio de Edad y Salario
print(df.groupby('Nombre').mean())

### Merging and Joining DataFrames

In [ ]:
# Create two DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Ana', 'Luis', 'Carlos']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Salary': [50000, 55000, 60000]})

# Merge DataFrames using the 'ID' column as a common key
df_merged = pd.merge(df1, df2, on='ID')
print("Merged DataFrame using 'merge':\n", df_merged)

# Vertical concatenation (stacking rows)
df_concat_vertical = pd.concat([df1, df2], ignore_index=True)
print("\nVertical concatenation using 'concat':\n", df_concat_vertical)

# Horizontal concatenation (combining columns)
df_concat_horizontal = pd.concat([df1, df2], axis=1)
print("\nHorizontal concatenation using 'concat':\n", df_concat_horizontal)

### Apply Function and Column Operations

In [ ]:
# Apply a lambda function to transform a column
df['Age_squared'] = df['Age'].apply(lambda x: x**2)
print(df, '\n')

# Direct mathematical operations
df['Age_doubled'] = df['Age'] * 2
print(df)

### Handling Missing (Null) Values

In [ ]:
 df = pd.DataFrame({
    'Name': ['Ana', None, 'Carlos'],
    'Age': [23, None, 30],
    'Salary': [50000, 55000, None]
})

# Detect missing values
print(df.isnull(), "\n")

# Fill missing values with specific values
df = df.fillna({'Name': 'Unknown', 'Age': df['Age'].mean()})
print(df, "\n")

# Drop rows with any missing values
df = df.dropna()
print(df)

### Condition Filter

In [ ]:
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos'],
    'Edad': [23, 25, 30],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}
df = pd.DataFrame(data,index=['a','b','c'])


print(df[df['Edad'] > 24],'\n')

print(df[df['Ciudad'] == 'Madrid'])

### Multi-indexing

In [ ]:
import numpy as np
import pandas as pd

# Define column names
my_header = ['a', 'b', 'c']

# Create the first level of the index (outer level) with two groups 'G1' and 'G2', each with 3 elements
my_index_out = ['G1'] * 3 + ['G2'] * 3

# Create the second level of the index (inner level) with numbers 1, 2, 3 repeated
my_index_in = [1, 2, 3] * 2

# Combine both levels into tuples (e.g., ('G1', 1), ('G1', 2), ...)
my_index_zipped = list(zip(my_index_out, my_index_in))

# Create a MultiIndex from the tuples for hierarchical indexing
my_index = pd.MultiIndex.from_tuples(my_index_zipped)

# Create the DataFrame with random data and the MultiIndex
df = pd.DataFrame(data=np.random.randn(6, 3), index=my_index, columns=my_header)

# Display the resulting DataFrame
df

## Practical Example Using Pandas

### Example 1

In [ ]:
import pandas as pd

iris_df=pd.read_csv('/content/data_Iris.csv')
iris_df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
print(iris_df.head(),"\n")
print(iris_df.tail(),"\n")
print(iris_df.columns,"\n")
print(iris_df.info())

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [ ]:
iris_df.columns=['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species']
iris_df

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
iris_df.Sepal_Length
iris_df[['Sepal_Length']]

In [ ]:
iris_df[['Sepal_Length', 'Sepal_Width']]

In [ ]:

result = iris_df.groupby('Species')[['Sepal_Length', 'Sepal_Width']].agg(['mean', 'std'])

result

In [ ]:
result.T

### Example 2

In [ ]:
import pandas as pd


df1 = pd.read_excel('stock price.xlsx')
df2 = pd.read_excel('stock valuation.xlsx')

print("InformaciÃ³n df1: \n",df1.info())
print(df1.head(),"\n")


print("InformaciÃ³n df2: \n",df2.info())
print(df2.head(),"\n")

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, on='id', how='left')